<template>
  <q-page class="row">
        <users-row />
        <div class="col-md-12">
            <p class="text-h6 q-ml-xl q-my-md">
                Explorar
            </p>
        </div>
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="flex q-gutter-md flex-center">
                    <q-img
                        v-for="(image, k) in images"
                        :key="k"
                        :src="`${host}${image.url}`"
                        style="height: 340px; max-width: 350px"
                    />
                </div>
            </div>
        </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
// import { Notify } from 'quasar'
import usersRow from './../components/usersRow'
export default defineComponent({
  name: "Explore",
  components: {
      usersRow
  },
  created () {
    this.$api.get('/api/posts/explore')
    .then(e => {
        this.images = e.data
    })
  },
  methods: {
  },
  data () {
      return {
          images: [],
          host: 'http://localhost:3000',
      }
  }
});
</script>
