<template>
  <q-page class="flex flex-center">
      <q-card>
          <q-card-section>
            <div class="text-h3 q-mb-xl">
                Desafiogram
            </div>
            <q-form
                @submit.prevent="submitForm"
                class="q-gutter-md text-center"
                ref="refForm"
            >
                <q-input :rules="field.rules" :label="field.label" v-model="field.value" :type="field.type" v-for="(field, k) in loginForm" outlined :key="k"/>
                <q-btn color="primary" class="" type="submit" label="Login" />
                <p>
                    ¿No tienes cuenta? <q-btn to="/signup" flat label="Sign up" />
                </p>

            </q-form>
          </q-card-section>
      </q-card>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { Notify } from 'quasar'
import { mapActions } from 'vuex'
export default defineComponent({
  name: "PageLogin",
  methods: {
      ...mapActions('auth', ['doLogin']),
      isValidEmail (val) {
        const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/
        return emailPattern.test(val) || 'Correo invalido'
      },
      async submitForm () {
        this.$refs.refForm.validate().then(success => {
            if (success){
                const payload = []
                this.loginForm.forEach(e =>{ 
                    payload[e.name] = e.value 
                })
                try {
                    this.doLogin(payload)
                    .then(e=>{
                        console.log('e',e)
                        this.$router.push('explore')
                    })
                    // const toPath = this.$route.query.to || '/admin'
                } catch (err) {
                    console.log('err', err)
                    if (err.response.data.detail) {
                        Notify.create({
                            type: e.response.status == 200 ? 'positive':'negative',
                            position: 'center',
                            message: e.response.data.message,
                            timeout: 3000
                        })
                    }
                }
                // */
                // this.$api.post('/api/usuarios/login', {...payload})
                // .then(e => {
                //     Notify.create({
                //         type: e.response.status == 200 ? 'positive':'negative',
                //         position: 'center',
                //         message: e.response.data.message,
                //         timeout: 3000
                //     })
                // })
                // .catch(e => {
                //     Notify.create({
                //         type: 'negative',
                //         position: 'center',
                //         message: e.response.data.message,
                //         timeout: 3000
                //     })
                // })
            }
        })
      }
  },
  data () {
      return {
          refForm: ref(null),
          loginForm: [
              {
                label: 'Correo',
                name: 'email',
                value: 'jmoran@rayensalud.com',
                type: 'text',
                rules: [ // eslint-disable-next-line
                    val => val !== null && val !== '' || 'Este campo es obligatorio', // eslint-disable-next-line
                    this.isValidEmail, // eslint-disable-next-line
                ],
              },
              {
                label: 'Contraseña',
                name: 'password',
                value: 'jmoran123',
                type: 'password',
                rules: [ // eslint-disable-next-line
                    val => val !== null && val !== '' || 'Este campo es obligatorio', // eslint-disable-next-line
                ],
              },
          ]
      }
  }
});
</script>
