<template>
  <q-page class="row flex-center">
    <div class="col-md-6 row flex-center">
        <img src="images/telefono.png">
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="row">
                <q-card class="col-md-6">
                    <q-card-section>
                        <div class="text-h3 q-mb-xl text-center">
                            Desafiogram
                        </div>
                        <q-form
                            @submit.prevent="submitForm"
                            class="q-gutter-md text-center"
                        >
                            <q-input :rules="field.rules" :label="field.label" v-model="field.value" :type="field.type" v-for="(field, k) in loginForm" outlined :key="k"/>
                            <q-btn color="primary" class="" type="submit" label="Sign up" />
                            <p>
                                ¿Ya tienes cuenta? <q-btn flat to="/login" label="Login" />
                            </p>
                        </q-form>
                    </q-card-section>
                </q-card>
            </div>
        </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
// import { Notify } from 'quasar'
import { ref } from 'vue'
export default defineComponent({
  name: "PageLogin",
  methods: {
      submitForm () {
        this.$refs.stateCuentaForm.validate().then(success => {
            if (success){

            }else{
                Notify.create({
                    type: 'negative',
                    position: 'center',
                    message: 'Revisa que todos los campos esten correctos',
                    timeout: 3000
                })
            }
        })
      },
      isValidEmail (val) {
        const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/
        return emailPattern.test(val) || 'Correo invalido'
      },
      validatePasswordStrength (val) {
        let regex = /\d/
        const doesItHaveNumbers = regex.test(val)
        regex = /[a-zA-Z]/
        const doesItHasletters = regex.test(val)
        if (!doesItHasletters || !doesItHaveNumbers) {
            return 'Debe tener al menos una letra y un número'
        }
        return true
      }
  },
  data () {
      return {
          refForm: ref(null),
          loginForm: [
              {
                label: 'Correo',
                type: 'text',
                rules: [ // eslint-disable-next-line
                    val => val !== null && val !== '' || 'Este campo es obligatorio', // eslint-disable-next-line
                    this.isValidEmail, // eslint-disable-next-line
                ],
                value: '',
              },
              {
                label: 'Nombres y apellidos',
                type: 'text',
                rules: [ // eslint-disable-next-line
                    val => val !== null && val !== '' || 'Este campo es obligatorio', // eslint-disable-next-line
                ],
                value: '',
              },
              {
                label: 'Nombre de usuario',
                type: 'text',
                rules: [ // eslint-disable-next-line
                    val => val !== null && val !== '' || 'Este campo es obligatorio', // eslint-disable-next-line
                ],
                value: '',
              },
              {
                label: 'Mini bio',
                type: 'text',
                rules: [ // eslint-disable-next-line
                    val => val !== null && val !== '' || 'Este campo es obligatorio', // eslint-disable-next-line
                ],
                value: '',
              },
              {
                label: 'Contraseña',
                value: '',
                type: 'password',
                rules: [ // eslint-disable-next-line
                    val => val !== null && val !== '' || 'Este campo es obligatorio', // eslint-disable-next-line
                    val => val.length > 6 || 'Debe tener al menos 6 cáracteres', // eslint-disable-next-line
                    this.validatePasswordStrength || 'Debe tener al menos una letra y un número'
                ],
              },
          ]
      }
  }
});
</script>
