<template>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="flex q-gutter-md users-row">
                <user-card v-for="(user, k) in users" :userData="user" :size="'col-md-2'" :key="k"/>
            </div>
        </div>
    </div>
</template>

<script>
import userCard from './userCard'
export default {
    name: "UsersRow",
    components: {
        userCard
    },
    data () {
        return {
            users: [
                {
                    name: 'estudiante',
                    color: 'red',
                },
                {
                    name: 'rickitan',
                    color: 'green',
                },
                {
                    name: 'danmac',
                    color: 'yellow',
                },
                {
                    name: 'diegorilla',
                    color: 'cyan',
                },
                {
                    name: 'charlie',
                    color: 'orange',
                },
                {
                    name: 'estudiante',
                    color: 'teal',
                },
                {
                    name: 'rickitan',
                    color: 'orange',
                },
                {
                    name: 'danmac',
                    color: 'brown',
                },
                {
                    name: 'diegorilla',
                    color: 'black',
                },
                {
                    name: 'charlie',
                    color: 'blue',
                },
                {
                    name: 'estudiante',
                    color: 'red',
                },
                {
                    name: 'rickitan',
                    color: 'green',
                },
                {
                    name: 'danmac',
                    color: 'yellow',
                },
                {
                    name: 'diegorilla',
                    color: 'cyan',
                },
                {
                    name: 'charlie',
                    color: 'orange',
                },
                {
                    name: 'estudiante',
                    color: 'teal',
                },
                {
                    name: 'rickitan',
                    color: 'orange',
                },
                {
                    name: 'danmac',
                    color: 'brown',
                },
                {
                    name: 'diegorilla',
                    color: 'black',
                },
                {
                    name: 'charlie',
                    color: 'blue',
                },
                {
                    name: 'estudiante',
                    color: 'red',
                },
                {
                    name: 'rickitan',
                    color: 'green',
                },
                {
                    name: 'danmac',
                    color: 'yellow',
                },
                {
                    name: 'diegorilla',
                    color: 'cyan',
                },
                {
                    name: 'charlie',
                    color: 'orange',
                },
                {
                    name: 'estudiante',
                    color: 'teal',
                },
                {
                    name: 'rickitan',
                    color: 'orange',
                },
                {
                    name: 'danmac',
                    color: 'brown',
                },
                {
                    name: 'diegorilla',
                    color: 'black',
                },
                {
                    name: 'charlie',
                    color: 'blue',
                },
            ]
        }
    }
}
</script>

<style>
.users-row {
    overflow-x: scroll;
    height: 235px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
</style>