<template>
    <q-card :class="size">
        <q-card-section class="flex jutify-evenly items-center column">
            <q-avatar size="50px" :color="userData.color" text-color="white" />
            <p class="text-bold text-center q-ma-none">
                {{ userData.name }}
            </p>
            <br>
            <q-btn color="primary" flat label="Ver perfil" />
        </q-card-section>
    </q-card>
</template>

<script>
export default {
    name:"userCard",
    props: {
        size: {
            type: String,
            default: 'col-md-4'
        },
        userData: {
            type: Object,
            required: true
        }
    }
}
</script>

<style>

</style>