<template>
  <q-layout view="lHh Lpr lFf">
    <q-header flat>
      <q-toolbar class="text-dark bg-white shadow-1">
        <q-toolbar-title> Desafiogram </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",

  setup() {

    return {
    };
  },
});
</script>
<style >
  .q-page-container {
    background:rgb(226, 226, 226);
  }
</style>
